
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: silver;
}

/*-------------------------------
            LAYOUT
--------------------------------*/

#container {
  margin: auto;
  max-width: 960px;
}

header {
  position: relative;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
  background-color: #333;
  color: white;
}

#lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #444;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
  opacity: 0.85;
}
#lists li {
  list-style-type: none;
  font-size: 80%;
}
#lists li a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  text-align: center;
  color: #FFF;
}
#lists li a:hover {
  background: red;
}

main {
  display: flex;
  flex-direction: column;
}
article {
  text-align: justify;
  background-color: white;
}
aside {
  text-align: left;
  background-color: #EEE;
}
article h1,
article p,
aside h1,
aside p {
  margin-bottom: 1rem;
}

footer {
  padding: 1.5rem;
  text-align: center;
  background-color: #333;
  color:white;
}
 5  css/main.css
@@ -0,0 +1,5 @@
@charset "UTF-8";

@import url('base.css') screen; /* Common Base */
@import url('mobile.css') screen and (max-width: 768px); /* Mobile Only */
@import url('pc.css') screen and (min-width: 769px); /* PC Only */
 30  css/mobile.css
@@ -0,0 +1,30 @@
/*-------------------------------
          mobile.css
--------------------------------*/

header{
  height: 5rem;
}
header h1{
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  font-size: 1.7rem;
}


#lists {
  /* Do Nothing */
}
#lists li {
  width: 100%;
  border-bottom: 1px solid #777;
}
#lists li:last-child {
  border-bottom: none;
}

article, aside {
  padding: 2rem;
  font-size: 0.85rem;
}
 41  css/pc.css
@@ -0,0 +1,41 @@
/*-------------------------------
             pc.css
--------------------------------*/

header {
  height: 7rem;
}
header h1 {
  position: absolute;
  top: 2.5rem;
  left: 0rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

#lists {
  flex-direction: row;
  justify-content: space-between;
}
#lists li {
  flex:1;
  border-right: 1px solid #777;
}
#lists li:last-child {
  border-right: none;
}

main {
  flex-direction: row;
}
article {
  flex: 3;
  padding: 3rem;
  font-size: 1rem;
}
aside {
  flex: 1;
  padding: 3rem;
  font-size: 1rem;
}
 53  index.html
@@ -0,0 +1,53 @@

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link href="css/main.css" rel="stylesheet" >
  <title>Sample Site</title>
</head>

<body>

  <div id="container">

    <header>
      <h1>Sample Site</h1>
    </header>

    <nav>
      <ul id="lists" >
        <li><a href="#">Item01</a></li>
        <li><a href="#">Item02</a></li>
        <li><a href="#">Item03</a></li>
        <li><a href="#">Item04</a></li>
      </ul>
    </nav>

    <main>

      <article>
        <h1>article</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum a diam vitae congue. Curabitur sed egestas erat. Donec facilisis tristique elit, nec consequat erat consectetur sit amet. Morbi in dictum nulla, nec malesuada odio. Cras euismod orci vitae lectus bibendum, non mattis magna posuere. Pellentesque mi est, vulputate a orci quis, lobortis rutrum dui. Fusce commodo enim vel ultrices hendrerit. Curabitur lobortis velit et purus finibus tincidunt non sed est. Maecenas ac justo aliquet, consectetur ipsum a, imperdiet odio. Nam consectetur eros et ex viverra, ullamcorper venenatis sapien pharetra.</p>
        <p>Morbi at magna eu dui consectetur convallis at vitae odio. Suspendisse sollicitudin lobortis tellus, eget varius augue fringilla sit amet. Etiam ligula odio, lacinia non erat quis, cursus iaculis mi. Vestibulum efficitur ante eu tellus fringilla, imperdiet pretium ex scelerisque. Quisque ornare scelerisque ligula, nec varius dolor malesuada quis. Nullam eleifend tortor sapien, sit amet vestibulum massa finibus ut. Ut ut ipsum eros. Etiam euismod eros non libero viverra lobortis. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum a diam vitae congue. Curabitur sed egestas erat. Donec facilisis tristique elit, nec consequat erat consectetur sit amet. Morbi in dictum nulla, nec malesuada odio. Cras euismod orci vitae lectus bibendum, non mattis magna posuere. Pellentesque mi est, vulputate a orci quis, lobortis rutrum dui. Fusce commodo enim vel ultrices hendrerit. Curabitur lobortis velit et purus finibus tincidunt non sed est. Maecenas ac justo aliquet, consectetur ipsum a, imperdiet odio. Nam consectetur eros et ex viverra, ullamcorper venenatis sapien pharetra.</p>
      </article>

      <aside>
        <h1>aside</h1>
        <p>Morbi at magna eu dui consectetur convallis at vitae odio. Suspendisse sollicitudin lobortis tellus, eget varius augue fringilla sit amet. Etiam ligula odio, lacinia non erat quis, cursus iaculis mi. </p>
        <p>finibus tincidunt non sed est. Maecenas ac justo aliquet, consectetur ipsum a, imperdiet odio. Nam consectetur eros et ex viverra, ullamcorper venenatis sapien pharetra.</p>
      </aside>

    </main>

    <footer>
      <h6>&copy; http://www.example.com</h6>
    </footer>

  </div>

</body>
</html>
